/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');*/

html {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    min-width: 100%;
}


/*#chat-messages::-webkit-scrollbar {
    width: 0px;
    /* remove scrollbar space 
    background: transparent;
}*/


/*.chat-box {
    bottom: 30px;
    right: 0;
    position: absolute;
    border: 0;
    border-top: 1px groove white;
    border-left: 1px groove white;
    font-size: small;
}*/

.bar {
    position: absolute;
    margin: auto;
    padding: 10px;
}

.very-small {
    font-size: 6px !important;
}

#close-single-peer-btn {
    position: fixed;
    top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    border-radius: 0%;
    z-index: 100;
}

.pointer {
    cursor: pointer;
}

.record-option {
    border-radius: 16px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: #5F2EEA;
    color: #FFFFFF;
    vertical-align: middle;
}

.custom-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    overflow: auto;
    align-self: center;
    vertical-align: middle;
}


/*.custom-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #17a2b8;
    width: 80%;
}*/

.btn-no-effect:focus {
    box-shadow: none;
}

.btn-create {
    width: 416px;
    height: 64px;
    align-self: center;
    background: #5F2EEA;
    border-radius: 40px;
    border: none;
    /* Desktop / Link Small */
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    text-align: center;
    letter-spacing: 0.75px;
    color: #FFFFFF;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}