html {
    height: 100%;
    width: 100%;
}

body {
    min-width: 100%;
    min-height: 100vh;
    background-color: #202124;
}


/* Home Screen*/

.create-room-box {
    min-height: 100vh;
    width: 100%;
    background-color: white;
    overflow-x: hidden;
}

.page-heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 3em;
    line-height: normal;
    color: #242424;
    margin-top: 20vh;
    letter-spacing: 0.03em;
}

label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.7em;
    /* identical to box height, or 175% */
    letter-spacing: 0.75px;
    color: #242424;
}

.form-control {
    min-width: 21.6vw;
    min-height: 5.7vh;
    background: #EFF0F7;
    border-radius: 1em;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 0.75px;
    color: #A0A3BD;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 2%;
}


/* Main Video calling Screen*/

header {
    width: 100vw;
    height: 16vh;
}

.btn-ele {
    position: relative;
    /*background-size: 100%;*/
    background-size: auto;
    height: 56px;
    width: 56px;
    border: none;
    margin: 6.1vh 0.8vw;
}

.btn-video {
    background: url(../images/video_on.svg);
}

.btn-video-off {
    background: url(../images/video_off.svg);
}

.btn-mic {
    background: url(../images/mic_on.svg);
}

.btn-mute {
    font-size: 100%;
    background: url(../images/mic-off.svg);
}

.btn-share-screen {
    background: url(../images/share_screen_off.svg);
}

.btn-share-screen-on {
    background: url(../images/share-screen-on.svg);
}

.btn-record {
    background: url(../images/record_off.svg);
}

.btn-recording {
    background: url(../images/record-on.svg);
}

.btn-chat {
    background: url(../images/chat_off.svg);
}

.btn-chat-on {
    background: url(../images/chat_on.svg);
}

.btn-participants {
    background: url(../images/partcipants.svg);
}

.btn-participants-on {
    background: url(../images/participants-on.svg);
}

.btn-meet-info {
    background: url(../images/info.svg);
}

.btn-meet-info-on {
    background: url(../images/info-on.svg);
}

.btn-end-call {
    position: relative;
    background: url(../images/end_call.svg);
    width: 117px;
    height: 56px;
    border: none;
    background-size: auto;
    margin: 6.1vh 0vh 1.5vw 5vw;
}

.local-video {
    position: absolute;
    width: 12vw;
    height: auto;
    background: #3C4043;
    border-radius: 4px;
    float: left;
    margin: 1.5vh 1.8vw;
}

.main-videos {
    height: 77.7vh;
    width: 81.6vw;
    margin: 6.1vh 9.2vw 3.7vh 9.2vw;
}

.remote-video-controls {
    color: white;
    font-size: unset;
    font-style: normal;
    font-family: Roboto;
    font-weight: 500;
    text-transform: capitalize;
    position: absolute;
    bottom: 0;
    z-index: 300000;
    padding: 10px;
    width: 100%;
    text-align: center;
    visibility: visible;
}

.remote-video {
    min-width: 100%;
    height: auto;
    max-height: 74vh;
    background-color: #202124;
}

.mirror-mode {
    -ms-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

@media only screen and (max-width:767px) {
    .chat-col {
        right: -100vw;
        width: 100vw;
        z-index: 99999;
        transition: 0.3s;
        top: 47px;
    }
    .box-opened::-webkit-scrollbar {
        display: none;
    }
    #chat-messages {
        height: 60vh;
    }
    .chat-box {
        bottom: 90px;
        margin-bottom: 0px;
    }
    .card-sm {
        max-width: 100%;
        border-radius: 7px;
        border: none;
        background-color: #202124;
    }
    .local-video {
        width: 50vw;
        height: max-content;
    }
}

@media (min-width:768px) {
    .card {
        width: 100%;
        z-index: 1000;
        border: none;
        border-radius: 7px;
        background-color: #202124;
    }
}


/* chat */

.chat-box {
    position: relative;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 90%;
    /* Grayscale / Input Background */
    background: #EFF0F7;
    border-radius: 16px;
    border: none;
}

.chat-box::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 1px;
    color: #A0A3BD;
}

.chat-box,
.chat-box:focus {
    resize: none !important;
    box-shadow: none !important;
}

.box-col {
    /*right: -100vw;*/
    margin-bottom: 3.7vh;
    /* margin-top: 2.2vh;*/
    margin-right: 1vw;
    z-index: 1000;
    position: absolute;
    background-color: #fff;
    height: 77.7vh;
    min-width: 455px;
    width: 23.7vw;
    border-radius: 11px;
}

.box-col.box-opened {
    position: absolute;
    right: 1vw;
    bottom: 3.7vh;
    margin-top: 2.2vh;
    transition: all 0.3s ease !important;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
}

.chat-row {
    margin-top: 10vh;
    margin-bottom: auto;
    height: 58vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.h1 {
    position: absolute;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    line-height: 39px;
    padding: 5px;
    margin-top: 2.96vh;
    margin-left: 2vw;
    /* identical to box height, or 121% */
    align-items: center;
    letter-spacing: 1.03409px;
    text-decoration-color: #242424;
}

.remote-bg {
    background-color: #F8F8F8;
}

.local-bg {
    background-color: rgba(95, 46, 234, 0.08);
}

.msg-row {
    width: fit-content;
}

.msg {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8em;
    color: #242424;
    letter-spacing: 1.03px;
}

.chat-card {
    border-radius: 6px;
    border: none;
    width: max-content;
    max-width: 290px;
}

.sender-info {
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.7em;
    /* identical to box height */
    align-items: center;
    letter-spacing: 1.65455px;
    color: #989898;
    margin-top: 0.1vh;
    align-self: flex-end;
    text-transform: uppercase;
}

#chat-messages {
    height: 70vh;
    margin-bottom: 20px;
}


/* Meet Info*/

.copy-info-btn {
    background: white;
    color: #5F2EEA;
    border: none;
    float: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    top: 0em;
    /* identical to box height */
    letter-spacing: 0.03em;
    padding: 0.1em;
    vertical-align: middle;
    outline: none;
}

.mybtn:focus {
    outline: none;
}

.link-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 1.3em;
    display: flex;
    align-items: center;
    letter-spacing: 1.03409px;
    color: #242424;
}


/* Recording */

.pointer {
    cursor: pointer;
}

.record-option {
    border-radius: 16px;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: #5F2EEA;
    color: #FFFFFF;
    vertical-align: middle;
}

.custom-modal {
    display: none;
    position: fixed;
    z-index: 10000;
    overflow: auto;
    align-self: center;
    vertical-align: middle;
}

.btn-no-effect:focus {
    box-shadow: none;
}

.btn-create {
    width: 20rem;
    height: 4em;
    align-self: center;
    background: #5F2EEA;
    border-radius: 40px;
    border: none;
    /* Desktop / Link Small */
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    text-align: center;
    letter-spacing: 0.75px;
    color: #FFFFFF;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}